/**
 * Applies text overflow with optional style.
 * @since 1.0.0
 */
@mixin text-overflow($clamp: 1, $overflow: ellipsis) {
    & {
        overflow: hidden;
        text-overflow: $overflow;
        @if $clamp == 1 {
            white-space: nowrap;
        } @else {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: $clamp;
        }
    }
}
